{% extends "base.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                {% for key, messages in app.session.flashbag.all() %}
                    {% for message in messages %}
                        <div class="alert alert-{{ key }}">
                            {{ message|trans }}
                        </div>
                    {% endfor %}
                {% endfor %}

                {% block fos_user_content %}
                {% endblock %}
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
{% endblock %}